<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block css %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'style/style.css' %}" />
  {% endblock css %}

  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 1; overflow-x: hidden">
    <a class="navbar-brand" href="/" style="display: flex;"> <img src="{% static 'assets/civilright.png' %}" alt=""
        height="35px" width="40px" style="filter: invert(1);">
      <div class="subs" style="margin-left: 8px;">
        <p style="margin-bottom: -19px;">
          NYAYADHISH</p>
        <span style="font-size: 15px;"> <sub> ministry of Law and Justice</sub></span>
      </div>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if request.user.is_authenticated %}
      <ul class="navbar-nav mr-auto my-2 my-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'service' %}">Assign</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin' %}">Upload Cases</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-danger my-2 mx-2 my-sm-0" type="submit">
          <a href="{% url 'logout' %}" style="color: white; text-decoration: none;">Logout</a>
        </button>
      </form>
      {% else %}
      <form class="form-inline my-2 my-lg-0 d-flex justify-content-end" style="width: 100%;">
        <button class="btn btn-outline-warning my-2 mx-2 my-sm-0" type="submit">
          <a href="{% url 'checkstatus' %}" style="color: white; text-decoration: none;"> Check status</a>
        </button>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
          <a href="{% url 'login' %}" style="color: white; text-decoration: none;"> Admin Login</a>
        </button>
      </form>
      {% endif %}
    </div>
  </nav>

  {% block body %}{% endblock body %}
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2022-2023 E-Court Law Judiciar</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>

  {% block script %}{% endblock script %}
</body>

</html>