{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'style/crousel.css' %}" />
<link rel="stylesheet" href="{% static 'style/counter.css' %}" />
{% endblock css %} {% block body %}

<div class="container">
  <section>
    <div class="sliders" id="sliders">
      <div class="slider active">
        <div class="numbertext">1 / 3</div>
        <img src="{% static 'assets/1.jpg' %}" width="100%" />
        <div class="text">The text of slide one</div>
      </div>
      <div class="slider">
        <div class="numbertext">2 / 3</div>
        <img src="{% static 'assets/2.jpg' %}" width="100%" />
        <div class="text">The text of slide two</div>
      </div>
      <div class="slider">
        <div class="numbertext">3 / 3</div>
        <img src="{% static 'assets/3.jpg' %}" width="100%" />
        <div class="text">The text of slide three</div>
      </div>
    </div>
  </section>

  <section>
    <div class="stats">
      <div class="wrapper">
        <div class="counter col_fourth">
          <i class="fa fa-code fa-2x"></i>
          <h2
            class="timer count-title count-number"
            data-to="300"
            data-speed="1500"
          ></h2>
          <p class="count-text">SomeText GoesHere</p>
        </div>

        <div class="counter col_fourth">
          <i class="fa fa-coffee fa-2x"></i>
          <h2
            class="timer count-title count-number"
            data-to="1700"
            data-speed="1500"
          ></h2>
          <p class="count-text">SomeText GoesHere</p>
        </div>

        <div class="counter col_fourth">
          <i class="fa fa-lightbulb-o fa-2x"></i>
          <h2
            class="timer count-title count-number"
            data-to="11900"
            data-speed="1500"
          ></h2>
          <p class="count-text">SomeText GoesHere</p>
        </div>

        <div class="counter col_fourth end">
          <i class="fa fa-bug fa-2x"></i>
          <h2
            class="timer count-title count-number"
            data-to="157"
            data-speed="1500"
          ></h2>
          <p class="count-text">SomeText GoesHere</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="cards"></div>
  </section>
</div>
{% block script %}
<script src="{% static 'script/crousel.js' %}"></script>
<script src="{% static 'script/slider.js' %}"></script>
<script src="{% static 'script/counter.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock script %} {% endblock body %}
