<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style/login.css' %}">

  <title>Document</title>
</head>

<body>
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 1;">
    <a class="navbar-brand" href="/" style="display: flex;"> <img src="{% static 'assets/civilright.png' %}" alt=""
        height="35px" width="40px" style="filter: invert(1);">
      <div class="subs" style="    margin-left: 8px;">
        <p style="margin-bottom: -19px;">
          NYAYADHISH</p>
        <span style="font-size: 15px;"> <sub> ministry of Law and Justice</sub></span>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav> -->
  <section class="loginpage">
    <div class="login-container">
      <a class="navbar-brand" href="/" style="display: flex;    margin: 15px;"> <img
          src="{% static 'assets/civilright.png' %}" alt="" height="35px" width="40px">
        <div class="subs" style="    margin-left: 8px;">
          <p style="margin-bottom: -19px;">
            NYAYADHISH</p>
          <span style="font-size: 15px;"> <sub> ministry of Law and Justice</sub></span>
        </div>
      </a>
      <h1>
        Login
      </h1>
      <div class="loginform">
        <form action="" method="POST" novalidate>
          {% csrf_token %} {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <p>{{error}}</p>
          {% endfor %} {% endif %} {% for fm in form %} {{fm.label_tag}} {{fm}}
          {{fm.errors|striptags}}
          <br /><br />
          {% endfor %}
          <button type="submit" class="submit-btn">Login</button>
        </form>
      </div>
    </div>
  </section>