* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d9e0e8;
}
h1 {
  font-size: 45px;
  margin: 40px;
  padding-top: 20px;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.full-page {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
}

/* .navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 50px;
  background: #303058;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 70px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}
nav ul li button {
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: sans-serif;
}
nav ul li button:hover {
  color: aqua;
}
nav ul li a:hover {
  color: aqua;
}
a {
  text-decoration: none;

  color: palevioletred;
  font-size: 28px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 90vh;
} */

/* #login-form {
    display: none;
  } */

/* .........................card........................ */

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 300px;
  overflow: hidden;
  padding: 1.25rem;
}

/* .........................end card........................ */
